<footer>
  <div>
    <p>&copy; {% year %} {{ meta.siteName }}{% if meta.authorName %} • {{ meta.authorName }}{% endif %}</p>
  </div>
  <a href="https://neocities.org" target="_blank">
    <img src="/img/neocities.png">
  </a>
</footer>
