{% set currentUrl %}{{ page.url }}{% endset %}
<nav>
  <ul role="list">
    <li>
      {# Home index page doesn't use the 'page.njk' layout; / is handled and #homelink is styled in our css #}
      <a {% if currentUrl === '/' %} aria-current="page" {% endif %} href="/" id="homelink"></a>
    </li>
    {# Finds the 'nav' collection by looking for src that have include a 'nav' tag in frontmatter #}
    {% for navPage in collections.nav | alphabetize %}
      <li>
        <a
          {% if currentUrl === navPage.url %} aria-current="page" {% endif %} href="{{ navPage.url }}">
          {# Use the current page's front matter title if defined; otherwise, use 11ty supplied 'page.fileSlug' #}
          {{ navPage.data.title or navPage.fileSlug }}
        </a>
      </li>
    {%- endfor %}
  </ul>
</nav>