{% set currentUrl %}{{ page.url }}{% endset %}
<nav>
  <ul role="list">
    <li>
      <a {% if currentUrl === '/' %} aria-current="page" {% endif %} href="/" id="homelink"></a>
    </li>
    {# Finds the 'page' collections by looking for src that have include a 'page' tag in frontmatter #}
    {% for page in collections.page | alphabetize %}
      <li>
        <a {% if currentUrl === page.url %} aria-current="page" {% endif %} href="{{ page.url }}">
          {{ page.data.title }}
        </a>
      </li>
    {%- endfor %}
  </ul>
</nav>