{% set q = quotes | findQuote('To write weekly, to write daily, to write shortly') %}
<figure>
  <p>{{ q.quote }}</p>
  <figcaption>
    <cite>{{ q.title }}</cite>, {{ q.author }}</figcaption>
</figure>