{% set q = quotes | findQuote('To write weekly, to write daily, to write shortly') %}
<figure>
  <p>
    {{ q.quote }}
  </p>
  <figcaption>
    <cite>
      <a href='{{ q.url }} ' target='_blank'>{{ q.title }}</a>
    </cite>, {{ q.author }}</figcaption>
</figure>