---
layout: base
---

<main>
  <h1 class='post-header'>{{ title }}</h1>
  <article>
    <header>
      <h2 class='post-subtitle'>{{ subtitle }}</h2>
      <time datetime='{{ page.date }}'>{{ page.date | postDate }}</time>
    </header>
    {{ content | safe }}
  </article>
</main>