---
layout: base
---

<main>
  <h1>{{ title }}</h1>
  <article>
    <header>
      <h2>{{ subtitle }}</h2>
      <time datetime='{{ page.date }}'>{{ page.date | postDate }}</time>
    </header>
    {{ content | safe }}
  </article>
</main>
<aside>
  {% for fact in facts %}
    <p>{{ fact }}</p>
  {% endfor %}
</aside>