@import "smol-11ty-starter.css";
@import "redaction.css";

@font-face {
  font-family: Venice;
  src: url("/fonts/venice_classic/VeniceClassic.ttf") format("truetype");
}

header {
  font-family: Venice, Courier;
}

article {
  font-family: Redaction;
}
