@import "smol-11ty-starter.css";

@font-face {
  font-family: Venice;
  src: url("/fonts/venice_classic/VeniceClassic.ttf") format("truetype");
}

@font-face {
  font-family: Redaction;
  src: url("/fonts/redaction/Redaction_10-Regular.woff2") format("woff2");
}

header {
  font-family: Venice, Courier;
}

article {
  font-family: Redaction;
}
